<div class="container">
    <h4>Emails par utilisateurs avec descriptif</h4>
    <p>

    </p>
    <hr>
    <div class="row">
        <div class="s12">
            <!-- besoin de boucler ! -->
            <div>
                <div><i class="material-icons">person</i>Kristen Dillon</div>
                <div><i class="material-icons">work</i>INTERFIND</div>
                <div><i class="material-icons">email</i>kristen.dillon@interfind.name</div>
                <div><i class="material-icons">phone</i>+1 (906) 483-3623</div>
                <div>
                    <h5>Notes</h5>
                    <div>
                        <div>
                            <div><span>#1</span></div>
                            <p>Aliqua enim amet velit cillum consequat cupidatat non voluptate occaecat pariatur duis incididunt sint. Eu ullamco exercitation eiusmod reprehenderit excepteur sint magna. Excepteur est enim in irure deserunt eu. Reprehenderit nulla in exercitation elit deserunt. Voluptate elit nisi esse enim est aliqua occaecat.</p>
                        </div>
                        <div>
                            <div><span>#2</span></div>
                            <p>Cupidatat voluptate sint consequat esse minim deserunt duis ut deserunt eiusmod proident enim incididunt consectetur. Tempor id duis anim exercitation adipisicing reprehenderit exercitation do qui dolore velit qui. Ipsum magna id esse irure sunt consequat magna nisi nulla amet exercitation. Et eu esse aute mollit nostrud ipsum nulla ut aliquip id nisi veniam. Eu sint consequat ut labore.</p>
                        </div>
                        <div>
                            <div><span>#3</span></div>
                            <p>Elit et mollit culpa commodo ex non laborum consequat voluptate elit dolore aliqua qui minim. Adipisicing deserunt nostrud nulla ullamco aliqua excepteur labore pariatur et cillum. Est incididunt ipsum enim in magna dolore ullamco officia enim esse nisi.</p>
                        </div>
                        <div>
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>